@import "./fonts.scss";
@import "./colors.scss";

.about-book-container {
    margin-top: 0px;
    background-color: $dirtywhite;
}

.about-book-title {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.about-book-title--styles {
    font-family: $font;
    font-size: 32px;
}

.about-book-summary--styles {
    font-family: $font2;
    }

.about-book-summary {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
    }

.about-book-img-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.about-book-img {
    width: 300px;
}

.availability-title {
    padding-top: 15px;
    text-align: center;
}

.availability-title--styles {
    font-family: $font;
    font-size: 32px;
}

.places-flex-center {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.available-places-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 120px);
    padding-bottom: 25px;
}

.bam-available {
    margin-left: 50px;
}
.place-img {
    max-width: 250px;
}

.place-img:hover {
    opacity: .5;
}

@media only screen and (min-width: 750px) { 
    .about-book-title {
    padding-top: 35px;
    }

    .about-book-container {
        display: flex;
        justify-content: space-evenly;
    } 
    .about-book-title--styles {
    font-family: $font;
    font-size: 48px;
    }   

    .about-book-summary--styles {
    font-family: $font2;
    font-size: 25px;
    }

    .about-book-summary {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    line-height: 1.5;
    }

    .about-book-img {
        margin-right: 50px;
        width: 340px;
    }

    .place-img {
        max-width: 200px;
    }

    .available-places-container {
        display: grid;
        grid-template-columns: repeat(5, 220px);
        grid-template-rows: repeat(1, 120px);
        padding-bottom: 25px;
    }

 }
