@import "./fonts.scss";
@import "./colors.scss";

.about-book-container {
    margin-top: 400px;
    background-color: $dirtywhite;
}

.about-book-title {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.about-book-title--styles {
    font-family: $font;
    font-size: 32px;
}

.about-book-summary--styles {
    font-family: $font2;
    }

.about-book-summary {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
    }

.about-book-img-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.about-book-img {
    width: 300px;
}

@media only screen and (min-width: 750px) { 
    .about-book-title {
    padding-top: 35px;
    }

    .about-book-container {
        display: flex;
        justify-content: space-evenly;
    } 
    .about-book-title--styles {
    font-family: $font;
    font-size: 48px;
    }   

    .about-book-summary--styles {
    font-family: $font2;
    font-size: 25px;
    }

    .about-book-summary {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    line-height: 1.5;
    }

    .about-book-img {
        margin-right: 50px;
        width: 340px;
    }
 }
