@import "./fonts.scss";
@import "./colors.scss";

.author-container {
    margin-top: 25px;
    width: 100%;
    height: 500px;
}

.author-center {
    display: flex;
    justify-content: center;
}

.author-container--styles {
    background-color: #eeeeee;
}

.author-img-container {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 20px solid #eeeeee;
    border-radius: 150px;
    overflow: hidden;
}

.author-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.summary-container {
    width: 100%;
    height: 750px;
    margin-top: -100px;
    background-color: $primary;
}

.summary {
    padding-top: 125px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    line-height: 1.5;
}

.summary--styles {
    font-family: $font2;
}

@media only screen and (min-width: 750px) {  
    .author-img-container {
        margin-top: 10px;
        width: 400px;
        height: 400px;
        border-radius: 300px;
        overflow: hidden;
    }

    .author-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .summary--styles {
    font-family: $font2;
    font-size: 25px;
}

    .summary {
    padding-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    line-height: 1.5;
    }
}