@import "../styles/shadows.scss";
@import "../styles/fonts.scss";
@import "../styles/colors.scss";

.book-flex {
    position: relative;
    background-color: $dirtywhite;
    color: darken($color: #FFFFFF, $amount: 0)
}

.overlay {
    position: absolute;
    border: 2px solid red;
    background-color: black;
    opacity: .2;
    width: 100%;
    height: 100%;
}

.book-cover-container {
    padding-top: 25px;
}

.book-cover-title {
    text-align: center;
}

.book-cover-sub-title {
    text-align: center;
}

.book-cover-title--styles {
    font-family: $fontbook;
    font-size: 80px;
}

.book-cover-sub-title {
    padding-left: 85px;
    padding-right: 85px;
}

.book-cover-sub-title--styles {
    font-family: $font2;
    font-size: 25px;
    line-height: 1.2;
}

.get-copy {
    margin-top: 15px;
    text-align: center;
}

.get-copy--styles {
    font-family: $font;
    font-size: 20px;
}

.book-img-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img {
    width: 300px;
    @include BoxShadow(8);
}
.purchase-links-flex {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
}

.purchase-links-grid {
    display: grid;
    grid-template-columns: repeat(1, 220px);
    padding-bottom: 0px;
}

.purchase-link--styles {
    text-align: center;
    font-family: $font2;
    margin-top: 10px;
    background-color: $primary;
    border-radius: 5px;
    padding: 10pt;
    color: white;
    text-decoration: none;
    outline: none;
    @include BoxShadow(2);
}

@media only screen and (min-width: 1200px) {
        .book-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book-container {
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(1, auto);
        
    }


    .book-cover-title {
    text-align: center;
    padding: 80px;
    }


    .book-img {
        width: 300px;
    }

    .book-img-container {
        padding-top: 105px;
        padding-bottom: 85px;
    }


    .purchase-links-grid {
        display: grid;
        grid-template-columns: repeat(2, 340px);
    }

    .purchase-link {
        margin-top: 10px;
        margin-right: 20px;
    }

    .purchase-link--styles {
        text-align: center;
        font-family: $font2;
        font-size: 28px;
        background-color: $primary;
        border-radius: 5px;
        padding: 25x;
        color: white;
        text-decoration: none;
        outline: none;
        transition: all .4s;
        @include BoxShadow(2);
    }

    .purchase-link--styles:hover {
        color: white;
        background-color: $primaryhover;
        @include BoxShadow(12);

    }
 }

@media only screen and (min-width: 1300px) { 
    .book-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book-container {
        display: grid;
        grid-template-columns: repeat(2, 700px);
        grid-template-rows: repeat(1, auto);
        
    }

    .book-left-child {
        padding-left: 102px;
    }


    .book-cover-title {
    text-align: center;
    padding: 80px;
    }


    .book-img {
        width: 300px;
    }

    .book-img-container {
        padding-top: 105px;
        padding-bottom: 85px;
    }


    .purchase-links-grid {
        display: grid;
        grid-template-columns: repeat(2, 340px);
    }

    .purchase-link {
        margin-top: 10px;
        margin-right: 20px;
    }

    .purchase-link--styles {
        text-align: center;
        font-family: $font2;
        font-size: 28px;
        background-color: $primary;
        border-radius: 5px;
        padding: 25x;
        color: white;
        text-decoration: none;
        outline: none;
        transition: all .4s;
        @include BoxShadow(2);
    }

    .purchase-link--styles:hover {
        color: white;
        background-color: $primaryhover;
        @include BoxShadow(12);

    }
 }
