@import "../styles/fonts.scss";

$duration: 0.5s;

$size: 100%;
$toggled-size: 0.75;

$bg: black;
$nav-bg: black;
$content-bg: black;

.bg-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    outline: none;
    margin-left: 0%;
}

.navicon-button {
    display: inline-block;
    position: relative;
    padding: 2.0625rem 1.5rem;
    transition: $duration/2;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;

    .navicon:before,
    .navicon:after {
        transition: $duration/2;
    }

    &:hover {
        transition: $duration;
        opacity: 1;

        .navicon:before,
        .navicon:after {
            transition: $duration/2;
        }

        .navicon:before {
            top: 0.825rem;
        }
        .navicon:after {
            top: -0.825rem;
        }
    }
}

.navicon {
    position: relative;
    width: 2.5em;
    height: 0.3125rem;
    background: $content-bg;
    transition: $duration;
    border-radius: 2.5rem;

    &:before,
    &:after {
        display: block;
        content: "";
        height: 0.3125rem;
        width: 2.5rem;
        background: $content-bg;
        position: absolute;
        z-index: -1;
        transition: $duration $duration/2;
        border-radius: 1rem;
    }

    &:before {
        top: 0.625rem;
    }
    &:after {
        top: -0.625rem;
    }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: $duration;
}

.open.x {
    .navicon {
        background: transparent;

        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
}

.author-name-container {
    margin-right: 4%;
}

.author-name--styles {
    font-family: $fontheader;
    font-weight: 600;
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    .bg-nav {
        display: none;
    }
    .burger-container {
        display: none;
    }
}
