@import "../styles/fonts.scss";
@import "../styles/colors.scss";

figcaption {
    text-align: center;
    font-family: $font2;
    font-size: 16px;
}

.photo-title-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.photo-title-container--styles {
    background-color: #eeeeee;
    padding: 5px;
    color: $primary;
    opacity: .85;   
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.photo-gallery-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.photo-gallery-title--styles {
        font-family: $fontheader;
        font-size: 42px;
}

.gallery-container {
    background-color: #eeeeee;
    height: auto;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(21, auto);
    grid-gap: 5px;
}

.gallery-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform .2s; /* Animation */
}

.gallery-img-23 {
    object-fit: cover;
}

.gallery-img-30 {
    object-fit: fill;
}

@media only screen and (min-width: 750px) { 
    .gallery-grid {
    background-color: #eeeeee;
    margin-left: 50px;
    margin-right: 50px;
    height: 980px;
    overflow-y: auto;
}

        .photo-title-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-align: center;
    top: 0;
    }

    .photo-title-container--styles {
        background-color: #eeeeee;
        padding: 5px;
        color: $primary;
        opacity: .85;   
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
        .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(21, auto);
        grid-gap: 15px;
    }

    figcaption {
    font-size: 20px;
}

}