@import "./fonts.scss";
@import "./colors.scss";

.photos-container {
    background-color: #eeeeee;
    margin-top: 400px;
    height: 520px;
    overflow-y: auto;
}

.photo-title-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.photo-title-container--styles {
    background-color: #eeeeee;
    padding: 5px;
    color: $primary;
    opacity: .85;   
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.photo-gallery-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.photo-gallery-title--styles {
        font-family: $fontheader;
        font-size: 42px;
}

.pic {
    max-width: 200px;
}
.photos-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    
}